.body {
  background-image: url("img/Frame.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  max-width: 1920px;
  max-height: 937px;
  margin: 0 auto;
  height: auto;
  width: 95%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125em;
}


.header-group {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;

  &_first-part {
    margin-left: 2%;
  }

  &__doc {
    width: 30vw;
  }

  &__eng {
    margin-right: 5%;
  }

  &_header__logo {
  padding-left: 45vw;
  }
}

.vector-group {
  display: flex;
  flex-direction: column;
}

.vector {
  width: 100vw;
  position: absolute;
  right: 40px;

  &_first {
    top:21%
  }

  &_second {
    top:31%;
  }

  &_third {
    top:41%;
  }

  &_fourth {
    top:51%;
  }
}

.main-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  height: 53vh;

  &__list {
    padding-left: 0;
  }

  &__list__item {
    list-style-type: none;

    &_link {
      text-decoration: none;
      color: black;
    }
  }
}

.number {
  font-size: 14px;
  position: relative;
  right: 4%;
  bottom: 0.2em;
}

.title {
  font-weight: 900;
  width: 25vw;
  padding-top: 6%;
}

.second-column {
  padding-top:3%;
  overflow-y: scroll;
}

.nav-part {
  position: sticky;
}
